h1 {
    text-align: center;
    padding-top: 15%;
    font-size: 2cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

h2 {
    text-align: center;
    font-size: 1cm;
    padding-left: 5%;
    padding-right: 5%;
    word-wrap: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

h3 {
    text-align: center;
    padding-top: 5cm;
    size: 15cm;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    height: 100%;
    width: 100%;
    background-color: rgb(34, 32, 48);
}

.titlecard {
    display: flex;
    background-color: rgba(68, 46, 94, 0.641);
    border: 2cm;
    border-radius: 0.5cm;    
    text-align: center;
    padding: 0.8cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    width: 2cm;
    justify-content: center;
    justify-self: center;
    outline-width: 0.2cm;
    outline-color: aliceblue;
    outline-style: outset;
}

.titlecard-boxes {
    align-items: center;
}