h1 {
    text-align: center;
    padding-top: 15%;
    font-size: 2cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

h2 {
    text-align: center;
    font-size: 1cm;
    padding-left: 5%;
    padding-right: 5%;
    word-wrap: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}


body {
    height: 100%;
    width: 100%;
    background-color: rgb(34, 32, 48);
}

.titlecard {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
}