h1 {
    text-align: center;
    padding-top: 15%;
    font-size: 2cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

h2 {
    text-align: center;
    font-size: 1cm;
    padding-left: 5%;
    padding-right: 5%;
    word-wrap: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

h3 {
    text-align: center;
    padding-top: 5cm;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    height: 100%;
    width: 100%;
    background-color: rgb(34, 32, 48);
}

.titlecard {
    background-color: #6456ffbe;    
    border-radius: 0.5cm;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: aliceblue;
    box-shadow: 2cm;
    box-shadow: lavender;
}

.titlecard:hover {
    box-shadow: 2cm;
    box-shadow: rgb(154, 154, 255);
}