.Titlebar {
    display: flex;
    align-items: center;
    width: 10cm;
    justify-content: space-between;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: auto;
    font-size: small;
    color: rgb(255, 255, 255);
    padding-right: 1cm;
    padding-left: 1cm;
    background-color: rgb(38, 38, 38);
    border-radius: 11px;
    height: 1.8cm;
    position: sticky;
    text-align: center;
    margin: auto
}

h2 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    margin: 4cm;
    align-items: center;
    left: 50%;
}


:hover.rounded{
    text-shadow: 1cm;
    box-shadow: 1cm;
}
.rounded{
    border-radius: 1cm;
}

body {
    background-color: rgb(0, 0, 0);
}

.size {
    font-size: 30px;
    color: rgb(255, 255, 255);
}



:hover.size{
    color: rgb(199, 199, 199);
}   